<!-- sections/custom-html.liquid -->
{{ 't4s-section.css' | asset_url | stylesheet_tag }}
{%- liquid
    assign sid = section.id
    assign se_stts = section.settings
    assign stt_layout = se_stts.layout
    assign stt_image_bg = se_stts.image_bg
    if stt_layout == 't4s-se-container' 
        assign html_layout = '<div class="t4s-container">__</div></div>' | split: '__'
    elsif stt_layout == 't4s-container-wrap'
        assign html_layout = '<div class="t4s-container">__</div>' | split: '__'
    else
        assign html_layout = '__' | split: '__'
    endif
 -%} 
<div class="t4s-section-inner t4s_nt_se_{{ sid }} {{ stt_layout }}{% if stt_image_bg != blank and stt_layout != 't4s-se-container' %} t4s-has-imgbg lazyloadt4s{% endif %}" {% if stt_image_bg != blank and stt_layout != 't4s-se-container' %} data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="2"{% endif %} {% render 'section_style', se_stts: se_stts -%} >
    {{- html_layout[0] -}}
        {%- if stt_layout == 't4s-se-container' -%}<div class="t4s-container-inner{% if stt_image_bg != blank %} t4s-has-imgbg lazyloadt4s{% endif %}" {% if stt_image_bg != blank %} data-bgset="{{ stt_image_bg | image_url: width: 1 }}" data-sizes="auto"  data-optimumx="2"{% endif %}>{% endif -%}
        <div class="t4s-code__html t4s-rte--list" timeline hdt-reveal="slide-in">
          <div class="four13_home-collection" style="">
          {% if customer %}
            {% assign wholesale = false %}
            {% assign semi_wholesale = false %}
            {% assign retail = false %}
            {% for tag in customer.tags %}
              {% if tag contains 'Franchise: Non-Reinders' or tag contains 'Barcana: Texas' %}
                {% assign wholesale = true %}
              {% elsif tag contains 'Franchise: Reinders' or tag contains 'Barcana: Non-Texas' %}
                {% assign semi_wholesale = true %}
              {% else %}
                {% assign retail = true %}
              {% endif %}
            {% endfor %}
          {% else %}
             {% assign retail = true %}
          {% endif %}
    
          {% if wholesale %}
            {% for collection in collections %}
              {% if collection.metafields.custom.wholesale_customer %}
                {% if collection.metafields.custom.wholesale_customer == true %}
                  {%- assign image = collection.image | default: collection.products.first.featured_image -%}
                  <div class="four13_home-collection-item">
                    <a href="{{ collection.url }}">
                       <img class="lazyloadt4s t4s-lz--fadeIn t4s-obj-eff" data-src="{{ image | image_url: width: 1 }}" data-widths="[400,600,700,800,900,1000,1200,1400,1600]" data-optimumx="2" data-sizes="auto" src="{{ image | image_url: width: 1 }}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt | escape }}" loading="lazy">
                    </a>
                  </div>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% elsif semi_wholesale %}
            {% for collection in collections %}
              {% if collection.metafields.custom.logged_customer %}
                {% if collection.metafields.custom.logged_customer == true %}
                  {%- assign image = collection.image | default: collection.products.first.featured_image -%}
                  <div class="four13_home-collection-item">
                    <a href="{{ collection.url }}">
                       <img class="lazyloadt4s t4s-lz--fadeIn t4s-obj-eff" data-src="{{ image | image_url: width: 1 }}" data-widths="[400,600,700,800,900,1000,1200,1400,1600]" data-optimumx="2" data-sizes="auto" src="{{ image | image_url: width: 1 }}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt | escape }}" loading="lazy">
                    </a>
                  </div>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% else %}
            {% for collection in collections %}
              {% if collection.metafields.custom.public_customer %}
                {% if collection.metafields.custom.public_customer == true %}
                  {%- assign image = collection.image | default: collection.products.first.featured_image -%}
                  <div class="four13_home-collection-item">
                    <a href="{{ collection.url }}">
                       <img class="lazyloadt4s t4s-lz--fadeIn t4s-obj-eff" data-src="{{ image | image_url: width: 1 }}" data-widths="[400,600,700,800,900,1000,1200,1400,1600]" data-optimumx="2" data-sizes="auto" src="{{ image | image_url: width: 1 }}" width="{{ image.width }}" height="{{ image.height }}" alt="{{ image.alt | escape }}" loading="lazy">
                    </a>
                  </div>
                {% endif %}
              {% endif %}
            {% endfor %}
          {% endif %}
            
          
       </div>
        
     </div>
    {{- html_layout[1] -}}
</div>
          
{% schema %}
  {
    "name": "Homepage Collection",
    "tag": "section",
    "class": "t4s-section t4s-section-all t4s_tp_cdt t4s-custom-html",
    "settings": [
        {
            "type": "header",
            "content": "1. Content options"
        },
        {
            "type": "paragraph",
            "content": "This is an advanced section. Knowledge of web design languages such as HTML, CSS is required"
        },
        {
            "type": "html",
            "id": "code",
            "label": "Content",
            "default": "<div class=\"t4s-text-center\" style=\"padding: 15px 0;background-color: #000;color: #fff;\">This is an advanced section. Knowledge of web design languages such as HTML, CSS is required.</div>"
        },
        {
            "type": "header",
            "content": "2. Design options"
        },
        {
            "type": "select","id": "layout","default": "t4s-container-wrap","label": "Layout",
            "options": [
                { "value": "t4s-se-container", "label": "Container"},
                { "value": "t4s-container-wrap", "label": "Wrapped container"},
                { "value": "t4s-container-fluid", "label": "Full width"}
            ]
        },
        {
            "type": "color",
            "id": "cl_bg",
            "label": "Background"
        },
        {
            "type": "color_background",
            "id": "cl_bg_gradient",
            "label": "Background gradient"
        },
        {
            "type": "image_picker",
            "id": "image_bg",
            "label": "Background image"
        },
        {
            "type": "text",
            "id": "mg",
            "label": "Margin",
            "info": "Margin top, margin right, margin bottom, margin left. If you do not use it please blank.",
            "default": ",,50px,",
            "placeholder": ",,50px,"
        },
        {
            "type": "text",
            "id": "pd",
            "label": "Padding",
            "info": "Padding top, padding right, padding bottom, padding left. If you do not use it please blank.",
            "placeholder": "50px,,50px,"
        },
        {
            "type": "header",
            "content": "+ Design tablet options"
        },
        {
            "type": "text",
            "id": "mg_tb",
            "label": "Margin",
            "default": ",,50px,",
            "placeholder": ",,50px,"
        },
        {
            "type": "text",
            "id": "pd_tb",
            "label": "Padding",
            "placeholder": "50px,,50px,"
        },
        {
            "type": "header",
            "content": "+ Design mobile options"
        },
        {
            "type": "text",
            "id": "mg_mb",
            "label": "Margin",
            "default": ",,30px,",
            "placeholder": ",,50px,"
        },
        {
            "type": "text",
            "id": "pd_mb",
            "label": "Padding",
            "placeholder": ",,50px,"
        }
    ],
    "presets": [
        {
            "name": "Homepage Collection",
            "category": "group9"
        }
    ]
  }
{% endschema %}
 